
<div class="h-100 d-flex align-items-center">
  <div class="w-100 text-center" key="loading-block">
    <Favicon.cursor-pointer.font-large-3 width=50 ...input/>
    <br><br>
    <label>Loading ...</label>
  </div>
</div>