
import Favicon from 'root/../favicon.png'

$ {
  const 
  { type, name, description, favicon } = input,
  title = input.title == 'name' ? name : description
}

<if( Favicon )>
  <img src=Favicon
        width=(input.width || 60)
        alt=name
        class=input.class
        title=title/><br>
</if>
<else>
  <span title=description >
    <Bx type="extension" class=input.class/>
  </span>
</else>